.staircase {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding: 50px;
  background: #f0f0f0;
  height: 100vh;
  position: relative;
}

.step {
  height: 100px;
  border-top: 3px solid blue;
  background: #9ab3d2;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 ;
}

.none{
  border: none;
  background-color: #f0f0f0;
}

.step-1 {
  width: 10%;
}
.step-2 {
  width: 20%;
}
.step-3 {
  width: 30%;
}
.step-4 {
  width: 40%;
}
.step-5 {
  width: 50%;
}
.step-6 {
  width: 60%;
}
.step-7 {
  width: 70%;
}
.step-8 {
  width: 80%;
}
.step-9 {
  width: 90%;
}
.step-10 {
  width: 100%;
}

.ball {
  width: 80px;
  height: 80px;
  border: 5px solid #e15b64;
  border-radius: 50%;
  animation: jump 6s ease infinite;
  position: absolute;
  top: 700px;
  left: 90px;
}

@keyframes jump {
  0% {
    top: 700px;
    left: 90px;
  }
  5% {
    top: 500px;
    left: 90px;
    /* t */
  }
  10% {
    top: 500px;
    left: 200px;
    /* u */
  }
  15% {
    top: 615px;
    left: 200px;
    /* p */
  }
  20% {
    top: 400px;
    left: 200px;
    /* t */
  }
  25% {
    top: 400px;
    left: 350px;
    /* u */
  }
  30% {
    top: 530px;
    left: 350px;
    /* p */
  }
  35% {
    top: 400px;
    left: 350px;
    /* t */
  }
  40% {
    top: 400px;
    left: 490px;
    /* u */
  }
  45% {
    top: 450px;
    left: 490px;
    /* p */
  }
  50% {
    top: 280px;
    left: 490px;
    /* t */
  }
  55% {
    top: 280px;
    left: 600px;
    /* u */
  }
  60% {
    top: 370px;
    left: 600px;
    /* p */
  }
  65% {
    top: 250px;
    left: 600px;
    /* t */
  }
  70% {
    top: 200px;
    left: 750px;
    /* t */
  }
  75% {
    top: 290px;
    left: 750px;
    /* p */
  }
  80% {
    top: 140px;
    left: 750px;
    /* t */
  }
  85% {
    top: 140px;
    left: 900px;
    /* u */
  }
  90% {
    top: 210px;
    left: 900px;
    /* p */
  }
  95% {
    top: 60px;
    left: 900px;
    /* t */
  }
  100% {
    top: 100px;
    left: 1000px;
    /* u */
  }
  
  
}
